<div class="button-container">
  <button class="btn back" (click)="onBack()"></button>
</div>

<ng-container *ngIf="movie$ | async as movie">
  <div class="container-top">
    <img [src]="movie.img" [alt]="movie.name" class="image" />

    <div class="text-container">
      <h1 [innerText]="movie.name" class="name"></h1>
      <h2 [innerText]="movie.description" class="description"></h2>
    </div>
  </div>
  <div class="container-bottom">
    <label class="rating">Rating: <span [innerText]="movie.rate"></span></label>
    <label class="length">Length: <span [innerText]="movie.length"></span></label>

    <div class="genres">
      <label>Genres</label>
      <span *ngFor="let genre of movie.genres" [ngClass]="['genre', genre | lowercase]">
        <span [innerText]="genre" class="text"></span>
      </span>
    </div>
  </div>
</ng-container>
