@import '../../../scss/variables';
@import '../../../scss/mixins';
@import './scss/icons';

$genre-icon-size: 15px !default;
$genre-font-size: 9px !default;
$inner-card-font-size: 11px !default;
$card-font-size-title: 14px !default;
$card-font-size-description: 11px !default;
$card-font-size-length: 9px !default;
$card-padding: 3px !default;
$text-genre-gap-height: 3px !default;

:host {
  display: inline-block;
  width: 180px;
  vertical-align: top;

  a {
    text-align: center;

    .top-container {
      position: relative;
      display: inline-block;
      margin: 0 auto;

      img {
      }

      .top-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .rating {
          font-weight: 600;
          background-color: transparentize($black, 0.3);
          padding: 4px;
          border-radius: 100%;
          color: $white;
          font-size: $inner-card-font-size;
          margin: $card-padding;
          float: left;
        }
      }

      .bottom-bar {
        position: absolute;
        bottom: $card-padding;
        left: 0;
        right: 0;

        .genre {
          display: inline-block;
          position: relative;
          text-align: center;
          font-size: $genre-font-size;
          margin-left: 5px;
          background-color: transparentize($white, 0.3);
          border-radius: 15px;
          padding: 4px;
          backdrop-filter: blur(3px);
          vertical-align: center;

          &:before {
            content: '';
            margin: 0 auto;
            display: block;
            width: $genre-icon-size;
            height: $genre-icon-size;
          }

          .text {
            position: absolute;
            top: calc(100% + #{$text-genre-gap-height});
            left: 50%;
            transform: translateX(-50%);
            text-transform: capitalize;
            opacity: 0;
            background-color: transparentize($white, 0.1);
            transition: opacity 0.3s ease-in-out;
            border-radius: 3px;
            padding: 3px;
            color: $black;

            &:before {
              content: '';
              position: absolute;
              height: $text-genre-gap-height;
              width: 4px;
              background-color: transparentize($white, 0.2);
              left: 50%;
              transform: translateX(-50%);
              top: -$text-genre-gap-height;
            }
          }

          &:hover .text {
            opacity: 1;
          }
        }
      }
    }

    .bottom-container {
      text-align: justify;

      .name {
        font-size: $card-font-size-title;
        font-weight: 600;
      }
      .description {
        font-size: $card-font-size-description;
        font-weight: 500;
      }
      .length {
        font-size: $card-font-size-length;
        font-weight: 300;
      }
    }
  }
}
