<section>
  <h1>Top 5 Highest rated movies</h1>

  <div class="video-container">
    <app-video-card
      *ngFor="let movie of topRatedMovies$ | async"
      [movie]="movie"
      [routePath]="'/movies/detail/' + movie.key"
    ></app-video-card>
  </div>

  <div *ngIf="error$ | async as error" class="error-container">
    <p class="message" [innerText]="error"></p>
  </div>

  <div class="loading-container" [ngClass]="{ loading: loading$ | async }">
    <app-loader></app-loader>
  </div>
</section>
