@import '../../../../../../scss/variables';
@import '../../../../../../scss/mixins';

$filter-box-shadow-hidden: 0 0 0 $white;
$filter-box-shadow: 0 1px 8px 2px transparentize($color8, 0.8);

:host {
  display: block;
  position: relative;

  .genre-container,
  .search-container {
    background-color: $white;
    color: black;
    text-align: center;
    padding: 6px;
    border-radius: 1px;
  }

  .search-container {
    label,
    input {
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
    }

    label {
      text-align: left;
    }

    input {
      margin-top: 4px;

      @include add-bg-icon('search.svg', 3px 3px, 20px 20px);

      &::-webkit-search-cancel-button {
        position: relative;
        right: 0;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        color: $color1;
        background: $color1;
      }
    }
  }

  .genre-container {
    position: relative;
    z-index: 5;
    margin-top: 5px;
    padding-bottom: 25px; // Space for Clear button

    .genre-list {
      .genre-checkbox {
        text-align: center;
        margin: 0 8px 5px 8px;
        vertical-align: middle;
        display: inline-block;
        border-radius: 2px;
        padding: 3px;
        transition: color 0.3s ease-in-out, transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
        outline-color: $color8;
        box-shadow: $filter-box-shadow-hidden;

        .text {
          vertical-align: middle;
          text-align: center;
          position: relative;
          text-transform: capitalize;
          font-size: 14px;
          padding: 2px 0;
          display: inline-block;
          margin-left: 5px;
        }

        &:hover {
          transform: scale(1.05);
          cursor: pointer;
          box-shadow: $filter-box-shadow;

          .genre:before {
            animation: image-rotate 3s infinite linear;
          }
        }

        &.selected {
          color: $color5;
          box-shadow: $filter-box-shadow;
        }
      }
    }

    .clear-container {
      position: absolute;
      right: 3px;
      bottom: 3px;

      button {
        font-size: 12px;
        background-color: transparent;
        color: black;
        border-radius: 3px;
        padding: 3px 6px;
        transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
        box-shadow: $filter-box-shadow-hidden;

        &:hover {
          transform: scale(1.05);
          box-shadow: $filter-box-shadow;
        }
      }
    }
  }
}
