@import '../../../scss/variables';
@import '../../../scss/mixins';

$card-icon-size: 20px !default;
$genre-font-size: 11px !default;

$inner-card-font-size: 12px !default;
$card-font-size-title: 15px !default;
$card-font-size-description: 12px !default;
$card-font-size-length: 10px !default;
$text-genre-gap-height: 4px !default;

:host {
  display: inline-block;
  vertical-align: top;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.025);

    a .container .top-container .bottom-bar .genre {
      border: 1.5px solid $white;

      &:before {
        animation: image-rotate 2s infinite linear;
      }
    }
  }

  a {
    width: 100%;
    height: 100%;
    text-align: center;

    .container {
      padding: 10px;

      .top-container {
        position: relative;
        display: inline-block;
        width: 100%;

        img {
          min-height: 160px;
        }

        .top-bar {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;

          .rating {
            position: absolute;
            font-weight: 600;
            background-color: transparentize($black, 0.3);
            padding: 4px;
            border-radius: 100%;
            color: $white;
            font-size: $inner-card-font-size;
            width: $card-icon-size;
            height: $card-icon-size;
            line-height: 19px;
            left: 0;
            top: 0;
          }
        }

        .bottom-bar {
          position: absolute;
          width: 30px;
          top: 0;
          right: 0;

          .genre {
            margin-top: 5px;
            display: inline-block;
            position: relative;
            text-align: center;
            font-size: $genre-font-size;
            background-color: transparentize($white, 0.3);
            border-radius: 15px;
            padding: 4px;
            backdrop-filter: blur(3px);
            vertical-align: center;
            transition: border 0.3s ease-in-out;
            border: 1px solid transparent;

            .text {
              position: absolute;
              right: calc(100% + #{$text-genre-gap-height});
              top: 50%;
              transform: translateY(-50%);
              text-transform: capitalize;
              opacity: 0;
              background-color: transparentize($white, 0.1);
              transition: opacity 0.3s ease-in-out;
              border-radius: 3px;
              padding: 3px;
              color: $black;
              border-bottom: 1px solid $color1;

              &:before {
                content: '';
                position: absolute;
                height: 4px;
                width: $text-genre-gap-height;
                background-color: transparentize($white, 0.2);
                top: 50%;
                transform: translateY(-50%);
                right: -($text-genre-gap-height);
              }
            }

            &:hover .text {
              opacity: 1;
            }
          }
        }
      }

      .bottom-container {
        text-align: left;

        .name {
          font-size: $card-font-size-title;
          font-weight: 600;
          margin-top: 5px;
        }
        .length {
          font-size: $card-font-size-length;
          font-weight: 300;
          margin-top: 2px;
        }
        .description {
          font-size: $card-font-size-description;
          font-weight: 500;
          margin-top: 4px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    background: $color6;
    box-shadow: 4px 4px 8px 2px transparentize($black, 0.7);
    max-width: 190px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 200px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 220px;
  }
}
