@import '../../scss/variables';
@import '../../scss/mixins';

$menu-link-side-padding: 8px;

header {
  nav {
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;

    li {
      display: inline-block;
      margin: 0 15px;

      .menu-link {
        position: relative;
        padding: 3px $menu-link-side-padding;

        &.active {
          &:after {
            background: $gradient2;
            width: calc(90% - #{$menu-link-side-padding});
            transform: translateX(($menu-link-side-padding));
            opacity: 1;
          }
        }

        &:after {
          content: '';
          transition: width 0.3s ease-in, opacity 0.6s ease-out, transform 0.3s ease-in-out;
          background: $gradient1;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0;
          transform: translateX(0);
        }

        &:not(.active) {
          &:hover {
            &:after {
              transition: width 0.3s ease-out, opacity 0.15s ease-in, transform 0.3s ease-in-out;
              opacity: 1;
              width: calc(90% - #{$menu-link-side-padding});
              transform: translateX(($menu-link-side-padding));
            }
          }
        }
      }
    }
  }

  div.input-container {
    display: inline-block;
    vertical-align: middle;
  }
}
