.video-container {
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  width: auto;
  height: auto;
  overflow: hidden;

  &.error,
  &.loading {
    width: 0;
    height: 0;
    opacity: 0;
  }

  app-video-card {
    margin: 10px 0;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    app-video-card {
      margin: 10px 5px;
    }
  }
}
