.video-container {
  text-align: center;

  &.error,
  &.loading {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    app-video-card {
      margin: 10px 5px;
    }
  }
}
