@import '../../../../scss/variables';
@import '../../../../scss/mixins';

:host {
  display: block;

  .filter-container {
    .genre-list {
      .genre-checkbox {
        margin: 5px 0;
        height: 18px;
        vertical-align: middle;

        input {
          opacity: 0;

          & + label:after {
            content: none;
          }

          &:checked + label:after {
            content: '';
          }

          &:focus + label:before {
            outline: $color2 auto 5px;
          }
        }

        label {
          position: relative;
          text-transform: capitalize;
          font-size: 14px;

          &:before {
            content: '';
            display: inline-block;
            height: 15px;
            width: 15px;
            border: 1px solid;
            margin-right: 3px;
          }

          &:after {
            content: '';
            display: inline-block;
            height: 6px;
            width: 9px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            left: 3px;
            top: 1px;
            position: absolute;
            transform: rotate(-45deg);
          }
        }
      }
    }

    .clear-filters {
    }
  }
}
