@import '../../../../scss/variables';
@import '../../../../scss/mixins';

:host {
  display: block;

  .filter-container {
    .genre-list {
      .genre-checkbox {
        margin: 0 8px;
        vertical-align: middle;
        display: inline-block;
        border-radius: 3px;

        input {
          display: none;
        }

        label {
          position: relative;
          text-transform: capitalize;
          font-size: 14px;
          padding: 2px 5px;
          z-index: 1;

          &:before {
            // hide text
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
          }
        }

        &.selected {
          color: $color5;
          background: $color2;
        }

        &:hover label {
          cursor: pointer;
        }
      }
    }

    .clear-filters {
    }
  }
}
