html {
  font-size: 22px;
  scroll-behavior: smooth;

  body {
    color: $white;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;

    background: $gradient5;
    min-height: 100vh;
    transition: all 0.3s ease-in-out;

    main {
      padding: 0 $page-gutter;
    }
  }

  a {
    color: $white;
    text-decoration: none;
  }

  input {
    color: $color5;
  }

  a,
  input,
  li,
  button {
    &:focus {
      outline-color: $color2;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 26px;

    body main {
      padding: 0 $page-gutter-large;
    }
  }

  @include media-breakpoint-up(fhd) {
    font-size: 28px;
  }
}
