$assets-images-path: '/assets/images/';

$page-gutter: 20px;
$page-gutter-large: 40px;

$black: #000000;
$white: #ffffff;

$color1: #edf5e1;
$color2: #8ee4af;
$color3: #5cdb95;
$color4: #379683;
$color5: #05386b;
$color6: #064583;
$color7: #042b53;
$color8: #085eb4;

$gradient1: linear-gradient(135deg, $color1 0%, $color2 100%);
$gradient2: linear-gradient(135deg, $color2 0%, $color3 100%);
$gradient3: linear-gradient(135deg, $color3 0%, $color4 100%);
$gradient4: linear-gradient(135deg, $color4 0%, $color5 100%);
$gradient5: linear-gradient(135deg, $color5 0%, $color6 30%, $color7 70%, $color8 100%);
$gradient6: linear-gradient(135deg, $color8 0%, $color7 30%, $color6 70%, $color5 100%);

$page-breakpoints: (
  xs: 0,
  tn: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  fhd: 1920px
);
